[submodule "third_party/TINY_OBJ_LOADER"]
	path = third_party/TINY_OBJ_LOADER
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "third_party/GLM"]
	path = third_party/GLM
	url = https://github.com/g-truc/glm
[submodule "third_party/IMGUI"]
	path = third_party/IMGUI
	url = https://github.com/ocornut/imgui
[submodule "third_party/STB"]
	path = third_party/STB
	url = https://github.com/nothings/stb
[submodule "third_party/GLFW"]
	path = third_party/GLFW
	url = https://github.com/glfw/glfw
[submodule "third_party/VULKAN_MEMORY_ALLOCATOR"]
	path = third_party/VULKAN_MEMORY_ALLOCATOR
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/NLOHMANN_JSON"]
	path = third_party/NLOHMANN_JSON
	url = https://github.com/nlohmann/json
[submodule "third_party/GOOGLE_BENCHMARK"]
	path = third_party/GOOGLE_BENCHMARK
	url = https://github.com/google/benchmark.git
[submodule "third_party/SPDLOG"]
	path = third_party/SPDLOG
	url = https://github.com/gabime/spdlog
[submodule "third_party/FUZZTEST"]
	path = third_party/FUZZTEST
	url = https://github.com/google/fuzztest
[submodule "third_party/KOMPUTE"]
	path = third_party/KOMPUTE
	url = https://github.com/KomputeProject/kompute.git
[submodule "third_party/ContainerHub"]
	path = third_party/ContainerHub
	url = git@github.com:Kataglyphis/ContainerHub.git
	branch = main
[submodule "third_party/OxidANT"]
	path = third_party/OxidANT
	url = git@github.com:Kataglyphis/OxidANT.git

	branch = develop
[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "third_party/cgltf"]
	path = third_party/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
